nav {
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(99, 114, 130, 0.06),
    0 3px 6px rgba(27, 39, 51, 0.08);
  box-shadow: 0 1px 2px rgba(99, 114, 130, 0.06),
    0 3px 6px rgba(27, 39, 51, 0.08);
  height: auto;
  width: 100%;
}
nav ul {
  padding-bottom: 8px;
  padding-top: 8px;
  margin: 0;
}
nav .brand {
  font-size: 1.5rem;
  text-align: center;
}
nav li {
  display: inline;
  padding: 16px;
}
nav li.active a {
  color: rgba(0, 0, 0, 0.8) !important;
}
nav li a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8) !important;
}
